
def nguyento(so):
    if so <= 1:
        return False
    for i in range(2, int(so ** 0.5) + 1):
        if so % i == 0:
            return False
    return True

f=open('input.txt', 'r')
n = int(f.readline())
a = list(map(int, f.readline().split()))
    
f.close()

t = 0
for num in a:
    if nguyento(so):
        t += 1

f=open('output.txt', 'w')
f.write(str(t))
f.close()